/* Fondo general del sitio */
body { 
  background-color: #f7f5f2;
  overflow-x: hidden;
  background: linear-gradient(to bottom, #f7f5f2, #ffffff);
  margin: 0;
  padding: 0;
}

/* Contenedor de la galería */
#gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Espaciado entre imágenes */
  padding: 0 10px; /* Márgenes laterales para centrado */
}

/* Imágenes en scroll */
#gallery img {
  max-height: 100vh; /* Ajusta la altura de la imagen a la ventana si es necesario */
  max-width: 100%; /* Ajusta la imagen al ancho del contenedor si es necesario */
  object-fit: contain; /* Mantiene las proporciones de la imagen */
  display: block;
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* Media Query para pantallas grandes (>= 1200px) */
@media (min-width: 1200px) {
  #gallery img {
      max-height: 85vh; /* Limita la altura de la imagen al 90% de la pantalla */
      width: auto; /* Mantiene el ancho natural si es menor al contenedor */
  }
}
